.hideoutHelper{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #101310;
    color: antiquewhite;
    border: solid;
    border-color: rgb(181, 175, 153);
    border-radius: 25px;
    margin-right: 35%;
    margin-left: 35%;
}

div.hideoutModules{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.6%, 1fr));
    gap: 10px;
    font-size: 25px;
    width: 100%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0px;
}
div.hideoutModules div{
    box-sizing: border-box;
    padding: 5px;
    float: left;
    padding-bottom: 45px;
}

h4.helperMessage{
    font-size: 20px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    background-color: #101310;
    margin-left: 10px;
    margin-right: 50.7%;
    border:solid;
    border-color: rgb(181, 175, 153);
    border-radius: 15px;
    padding: 20px;
    
}

div.hideoutSlot{
    background-color: #101310;
    color: rgb(246, 248, 247);
    border: solid;
    border-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}

hr.hrTag{
    width:50%;
}

select.selectStyle{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background-color: #101310;
    color: antiquewhite;
    border-color:#101310;
    border-bottom-color: rgb(181, 175, 153);
    
}

img.imgFloatRight{
    float: right;
    width: 50px;
    height: 50px;
}

img.escapeFromtarkovfloatright{
    float: right;
    width: 550px;
    height: 200px;
}

.footer{
position: fixed;
left: 40%;
right: 0;
bottom: 0;
width: 20%;
border: solid;
border-radius: 25px;
border-color: rgb(181, 175, 153);
background-color: #101310;
color:  antiquewhite;
text-align: center;
}

