.hideoutHelper{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #101310;
    color: antiquewhite;
    border: solid;
    border-color: antiquewhite;
    border-radius: 25px;
    margin-right: 35%;
    margin-left: 35%;
}

div.hideoutModules{
    font-size: 25px;
    width: 100%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: -10px;
}
div.hideoutModules div{
    width: 23.62%;
    float: left;
    
}

h4.helperMessage{
    font-size: 20px;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    background-color: #101310;
    margin-right: 50%;
    border:solid;
    border-radius: 15px;
    padding: 4px;
}

div.hideoutSlot{
    background-color: #101310;
    color: antiquewhite;
    border: solid;
    border-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}



